<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 3px;"></div>
        <center>
            <img class="animated rubberBand" width="90%"src="img/rotaract.gif">
        </center>
         <div class="spacer" style="width: 300px; height: 3px;"></div>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input ng-model="loginForm.mail" type="Email" placeholder="Enter E-mail">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input ng-model="loginForm.password" type="password" placeholder="Enter Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 15px;"></div>
            <center>
                <a ng-click="EnterRotary(loginForm.mail,loginForm.password);" class="button button-positive utton-block  button-full">Log in</a><!-- href="#/home/members"-->
               <a href="#/home/User_Profile">Enter</a> 
                <a href="#/signUp" class="button button-positive  button-block ">Sign Up</a>
            </center>
        </form>
     
    </ion-content>
</ion-view>