<ion-view  title="Rotaract MSIT">
    
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Members" icon="ion-ios-body" href="#/home/members">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Notice Board" icon="ion-clipboard" href="#/home/notice">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="My profile" icon="ion-person" href="#/home/User_Profile">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>